#right-col {
  display: inline-block;
  vertical-align: top;
  margin: auto;
  margin-top: 10px;
}

#left-col {
  display: inline-block;
  width: 450px;
  margin-top: -20px;
}

#left-col p {
  margin-bottom: 0px;
}

#bush {
  display: block;
  width: 100%;
  margin: auto;
}
