#footer-container {
  padding: 20px;
  width: 100%;
}

#footer-container p {
  text-align: center;
}

#footer-container img {
  width: 500px;
  height: 220px;
  margin: auto;
  display: block;
}

#webmaster {
  font-size: 12pt;
}