#footer-container {
  padding: 20px;
  width: 100%;
}

#footer-container p {
  text-align: center;
}

#footer-container img {
  width: 500px;
  height: 220px;
  margin: 20px auto;
  display: block;
}

#footer-container nav a {
  font-size: 15px;
}

#webmaster {
  font-size: 12pt;
}

#webmaster a {
  font-family: "Conv_NeutraTextLight";
}