#header a hover {
  color: #629465;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Conv_TrajanPro-Regular';
}

#header {
	width: 100%;
	background: url(../images/header-bg-long.png) no-repeat;
	background-size: 100% 70%;
	margin-bottom: 50px;
}

.logo {
  width: 344px;
  margin: auto;
}

#subhead {
	/* background: url("../images/gradient-bg.png") repeat-x scroll 0 0 transparent;
	background-size: 100% 100%; */
	background-color: #FFFFFF;
	/* border-style: solid; */
	/* border-width: 3px; */
	/* border-radius: 12px; */
	height: 100px;
	width: 800px;
	margin: auto;
	margin-top: 10px;
}

#subhead p {
	text-align: center;
	font-size: 26pt;
	margin: auto;
	line-height:	1.2em;
	padding-top: 8px;
}

#motto {
	font-size: 24pt;
}
