
#header_space {
	display: block;
}

#subhead {
	background: url("../images/gradient-bg.png") repeat-x scroll 0 0 transparent;
	height: 64px;
	margin-top: -28px;
	width: 100%;
}

#subhead p {
	text-align: center;
	font-size: 28pt;
	margin: auto;
	padding-top: 10px;
}

#main {
	display: block;
	margin-bottom: 50px;
}

#main ul {
	padding-left: 20px;
}

#reviews-area {
	text-align: center;
}

#reviews {
	width: 1019px;
	margin: auto;
}

.review {
	width: 200px;
	height: 300px;
	vertical-align: top;
	display: inline-block;
	border-radius: 18px;
	background: #ffffff;
	margin: 20px;
	padding: 10px;
	position: relative;
}

.review img {
	width: 134px;
	height: 38px;
	margin: 10px;
}

.review .top{
	
}

.review .bottom {
	position: absolute;
	bottom: 10px;
	left: 15%;
}

.review p {
	position: absolute;
	font-size: 14pt;
	margin: 10px;
	margin-left: 0px;
}